
table {
    border-collapse: collapse;
    border: 2px solid white; 
    width: 72%;
    height: 20% ;
}

th {
    font: bold 24px/45px Helvetica, Sans-Serif; 
    padding: 3px;
    border: 1px solid #05CFF3;
    text-align: left;
}
td {
    font: bold 17px/35px Helvetica, Sans-Serif;
    padding: 3px;
    border: 1px solid #05CFF3;
    text-align: left;
}

div {
    width: 72%;
    border: 1px dotted #05CFF3; 
}

h1 {
    font: bold Helvetica, Sans-Serif
}

#backsp {
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;
    color: #16AFCA;
    padding-left: 30px;
    width:auto;
    height: auto;
    margin-top: 0px;
    border: 0px;
}

#back:visited{
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;
    color: #16AFCA;
}